<div class="footer">
    <div class="container-1200">
        <div class="text-center inspiring"> <strong>Inspiring homes for all.</strong> Decorate your home with stylish
            designs & quality products at honest prices.</div>
    </div>
    <div class="container-1200 footer-disc border-bottom">
        <div class="flex-column disc">
            <ul>
                <li class="header">Come speak to us</li>
                <li class="link">temp@mail.com</li>
                <li class="link">71892013818</li>
                <li><img src="../../assets/lion.png" alt="lion"></li>
            </ul>
        </div>
        <div class="flex-column disc">
            <ul>
                <li class="header">Let us help you</li>
                <li class="link">Contact Us</li>
                <li class="link">FAQ's</li>
                <li class="link">Shipping & Returns</li>
                <li class="link">Terms</li>
            </ul>
        </div>
        <div class="flex-column disc">
            <ul>
                <li class="header">Get to know us</li>
                <li class="link">About us</li>
                <li class="link">Customer testimonials</li>
                <li class="link">jobs</li>
            </ul>
        </div>
        <div class="flex-column disc">
            <ul>
                <li class="header">Work with us</li>
                <li class="link">Furniture Magik for business</li>
                <li class="link">Trade</li>
                <li class="link">Press Resource</li>
            </ul>
        </div>
        <div class="flex-column disc">
            <ul>
                <li class="sign-up">Sign Up and Get Rs.500 worth coupon and FREE delivery as our welcome gift :)</li>
                <li><button class="btn">Sign Up</button></li>
                <li class="social-icons">Follow us: <fa-icon [icon]="facebook"></fa-icon>
                    <fa-icon [icon]="instagram"></fa-icon>
                    <fa-icon [icon]="youtube"></fa-icon>
                    <fa-icon [icon]="twitter"></fa-icon>
                </li>
            </ul>
        </div>
    </div>
</div>