<div class="grid">
    <div class="carosul">
        <ngb-carousel [interval]="5000" *ngIf="images">
            <ng-template ngbSlide *ngFor="let image of images">
                <div class="picsum-img-wrapper">
                    <img [src]="image" alt="Random first slide">
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="card1">
        <img src="assets/card1.webp" alt="Exchange-offer">
    </div>
    <div class="card2">
        <img src="assets/card2.webp" alt="EMI">
    </div>
</div>